.policy-text-area{
    display: none;
    grid-row: 10;
    columns: 10
}

.policy-create-area{
    display: none;
    grid-row: 10;
    columns: 10
}

 .policy-close-btn{
    display:none;
}

.policy-edit-area{
    display:none;
}
.dpolicy-edit-area{
    display:none;
}

.dpolicy-text-area{
    display: none;
    grid-row: 10;
    columns: 10
}

.dpolicy-create-area{
    display: none;
    grid-row: 10;
    columns: 10
}

 .dpolicy-close-btn{
    display:none;
}

.dpolicy-edit-area, .dpolicy-save-btn{
    display:none;
}